*{
  font-family: 'Roboto', sans-serif;
}

.App {
  display: flex;
  justify-content: center;
  width: 100%;
}

.App_2 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
  width: 75%;
}

.active {
  background-color: rgb(89, 194, 89);
    display: flex;
  flex-direction: column;
  padding: 10px;
  justify-content: space-between;
  width: 250px;
  border-radius: 10px;
  height: 200px;
  margin: 0 10px 10px 0;
  
  /* text-decoration: line-through;
  opacity: 0.4; */
}

.form_body {
  
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 10px;
}
form {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}



.btn {
  cursor: pointer;
  padding: 2px;
  font-size: 13px;
  border: 1px solid black;
  color: black;
  border-radius: 3px;
}

.static {
  display: flex;
  justify-content: space-evenly;
}

.content {
  display: flex;
  justify-content: space-between;
}

.pen {
  color: green;
  cursor: pointer;
  font-size: 17px;
}

.inp {
  width: 84%;
  height: 25px;
  outline: none;
  padding: 4px;
  font-size: 16px;
  border: 1px solid green;
    color: green;
    border-radius: 3px;
}

.btn_addtodo {
  border: none;
  border: 1px solid green;
  color: green;
  border-radius: 3px;
  padding: 8px;
  background: transparent;
  cursor: pointer;
}

.btn_addtodo:hover {
  background-color: green;
  color: #fff;
  transition: 200ms;
}

.btn_save {
  background-color: green;
  color: white;
  border: none;
  height: 20px;
  border-radius: 5px;
  cursor: pointer;
}

.inp_edit {
  outline: none;
  height: 50px;
  width: 70%;
  margin-right: 5px;

}

.span_text:hover {
  background-color: yellow;
}

.date {
  font-size: 10px;
  opacity: 0.6;
}


p {
  padding: 0;
  margin: 0;
}

.update {
  width: 200px;
  height: 50px;
  background-color: #ffc107;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  margin-left: 10px;
  margin-top: 10px;
}

.footer {
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content_body {
  width: 100%;
  display: flex;
    flex-wrap: wrap;

  /* overflow-y: scroll; */
  padding-top: 5px;
  /* border: 1px solid black; */
}

hr {
  height: 1px;
  opacity: 0.11;
  width: 98%;
  background-color: black;
}

.task_2 {
  display: flex;
  flex-direction: column;
  padding: 10px;
  justify-content: space-between;
  width: 250px;
  border-radius: 10px;
  height: 200px;
  margin: 0 10px 10px 0;
  background-color: #f1e05a;
}

.name_todos {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.name_todos span {
  font-weight: bold;
}

.progress_inner {
 height: 100%;
      border-radius: 3px;
      width: 100%;
      background: rgb(18, 231, 48);
      transition: all 0.3s ease-in-out;
      background: linear-gradient(90deg, rgba(18, 231, 48, 1) 0%, rgba(0, 212, 255, 1) 100%);
  }
  .progress {
    margin-top: 10px;
    width: 600px;
  height: 30px;
    border-radius: 3px;
    background-color: rgb(232, 232, 232);
    margin-bottom: 25px; 
}

.task_main {
  display: flex;
}

.task_main input {
width: 20px;
height: 20px;
cursor: pointer;
}

.task_date {
  display: flex;
  justify-content: space-between;
}

.task_date p {
font-size: 10px;
}

.task_text {
  display: flex;
  width: 220px;
}

.task_edit {
  display: flex;
}

textarea {
  border-radius: 5px;
}